body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

div {
  border: 0px solid seashell;
}
.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo-img {
  height: 50px;
}

.nav-bar {
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-element {
  align-self: center;
  padding-right: 15px;
}


.main {
  width: 100%;
  height: 700px;
  display: flex;
  padding-top: 69px;
  justify-content: center;
}

.mission {
  width: 1200px;
  background-image: url("./../pictures/img-mission-background.jpg");
  display: flex;
}

.mission-text {
  align-self: center;
  background-color: black;
  width: 100%;
}
