body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

div {
  border: 0px solid seashell;
}
.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: black;
}

.logo {

  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo-img {
  height: 50px;
  padding-left: 10px;
}

.nav-bar {
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-element {
  align-self: center;
  padding-right: 15px;
}


.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 69px;

}

.mission {
  width: 1200px;
  height: 700px;
  background-image: url("./../pictures/img-mission-background.jpg");
  display: flex;
  justify-content: center;
}

.mission-text {
  align-self: center;
  background-color: black;
  width: 100%;
}

/*Featured section styling*/

.featured {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  text-align: center;
}

.showcases {

  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.showcase  img{
  width: 300px;
  height: 200px;
  margin: 10px; 
}

.showcase {
  display: block;
  padding: 5px;
}
